

.text-logout {
    font-size: 15px;
    color: #c1cbe5
}


.text-2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.text-3 {
    font-weight: bold;
}

body {
    background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

/* Sidebar */
.sidebar {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    margin-right: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

.he {
    height: 100vh;
}